@import url('https://fonts.googleapis.com/css?family=Oxygen:400,500,700');
/*------------------------------------------------General*/

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  background-image: url('../images/main-background.jpg');
  background-position: center;
  background-size: cover;
}

/*------------------------------------------------Nav Bar*/

.navbar {
  padding: 10px;
}

.navbar-nav li {
  padding-right: 50px;
}

/*------------------------------------------------Body*/

.checked{
  color:#00CED1;
}

.space{
  padding-top:125px;
}

.uses-card-body{
  padding-left:0;
  padding-right:0;
}

.uses-card-text{
  padding:25px;
}

.combining-card{
  padding-top:25px;
}

.card-deck{
  height:100%;
}

hr {
  border-top: 2px solid #ffffff;
  width: 80%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.padding {
  padding: 50px;
}
.padding-small{
  padding:20px;
}

blockquote{
  padding-top:50px;
  padding-bottom:50px;
}

/*------------------------------------------------Social Links*/

.social a {
  font-size: 2.5em;
  padding:20px;
}

.fa-facebook {
  color: #5090d2
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #e1306c;
}

.fa-github {
  color: #e9ecef;
}

/*------------------------------------------------Scroll Bar*/

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  background-color: black;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

/*------------------------------------------------Media Queries*/
