@import url('https://fonts.googleapis.com/css?family=Oxygen:400,500,700');
/*------------------------------------------------General*/

body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  background-image: url('../images/main-background.jpg');
  background-position: center;
  background-size: cover;
  flex-direction: column;
}

/*------------------------------------------------Nav Bar*/

.navbar {
  padding: 10px;
}

.navbar-nav li {
  padding-right: 50px;
}

/*------------------------------------------------General*/

hr {
  border-top: 2px solid #00000000;
  width: 100%;
  margin-top: 25px;
}

.padding {
  padding: 50px;
}

.padding-small {
  padding: 20px;
}

.p-bottom{
  padding-bottom:50px;
}

.breadcrumb {
  background-color: #00000000;
}

main {
  flex: 1;
}

footer {
  height: 40px;
}

/*------------------------------------------------Home Page*/

.uses-card-body {
  padding-left: 0;
  padding-right: 0;
}

.uses-card-text {
  padding: 25px;
}

.combining-card {
  padding-top: 25px;
}

.card-deck {
  height: 100%;
}

blockquote {
  padding-top: 50px;
  padding-bottom: 50px;
}

.blockquote-footer {
  color: #ffffff;
}


/*------------------------------------------------Guide Page*/

.carousel-item-resize {
  margin-bottom: 50px;
}

.carousel-text-position {
  width: 70%;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 50px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}

/*------------------------------------------------Products Page*/

.back-white {
  background-color: #ffffff;
  width: 100%;
}

.breadcrumb-item>a {
  color: #ffffff;
}

.breadcrumb-item.active {
  color: #ffffff;
}

.products-image {
  display: block;
  margin: auto;
}

.checked {
  color: #00CED1;
}

.echo-text{
  padding-top:50px;
  padding-bottom: 100px;
}

.card-body > h2 > a{
  color:#000000;
}

.zoom{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zoom:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*------------------------------------------------Contact Form*/

.modal-content {
  background-color: #2f3338;
  opacity: .85;
  padding: 0 20px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control input {
  height: 40px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
}

#fullname {
  margin-top: 20px;
}

.btn.btn-secondary.center-block {
  width: 100%;
  margin-bottom: 20px;
}

textarea {
  resize: none;
}


/*------------------------------------------------Social Links*/

.social a {
  font-size: 32px;
  padding: 14px;
}

.fa-facebook {
  color: #5090d2
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #e1306c;
}

.fa-github {
  color: #e9ecef;
}

/*------------------------------------------------Scroll Bar*/

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  background-color: black;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

/*------------------------------------------------Title Hover Effect*/

.hover_effect {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  width: 100%;
  padding: 1px;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 60px;
  font-weight: 500;
}

.hover_effect:after {
  content: "";
  height: 5px;
  left: 0;
  bottom: -10px;
  width: 1px;
  position: absolute;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  right: 0;
  margin: 0 auto;
}

.hover_effect:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: default;
}

.hover_effect:hover:after,
.hover_effect:focus:after {
  width: 100%;
  background-color: #fff;
}

/*------------------------------------------------Media Queries*/

/*Medium-Large Phones*/

@media only screen and (min-width:365px) {
  .carousel-item-resize {
    margin-bottom: 50px;
    margin-left: 15px;
  }
  .carousel-text-position {
    width: 70%;
    text-align: center;
    margin-left: 55px;
    margin-bottom: 50px;
  }
  .social a {
    font-size: 45px;
    padding: 20px;
  }
}

/*Tablets*/

@media only screen and (min-width: 768px) {
  .carousel-text-position {
    text-align: center;
    width: 50%;
    float: right;
    margin: auto;
    padding-bottom: 100px;
    padding-right: 80px;

  }
  .carousel-item-resize {
    float: left;
    padding-top: 100px;
  }
  #carousel-assistants {
    padding-top: 30px;
  }

  .hover_effect:hover:after,
  .hover_effect:focus:after {
    width: 80%;
  }
  .hover_effect {
    padding-top: 25px;
  }
  
  .uses-card {
    padding-top: 40px;
  }
}

/*Small Laptops*/

@media only screen and (min-width: 992px) {
  #carousel-assistants {
    padding-top: 150px;
  }
  .carousel-item-resize {
    padding-top: 0;
  }
  .hover_effect:hover:after,
  .hover_effect:focus:after {
    width: 80%;
  }
}

/*Desktops*/

@media only screen and (min-width: 1200px) {
  .carousel-text-position {
    position: relative;
    padding-top: 100px;
    margin-right: 50px;
    width: 50%;
  }

  .carousel-item-resize {
    position: relative;
    padding-left: 150px;
  }
  .social a {
    font-size: 45px;
    padding: 40px;
  }
}

/*XL Desktops*/

@media only screen and (min-width: 1700px) {
  .carousel-text-position {
    margin-right: 100px;
  }
  .carousel-item-resize {
    padding-left: 250px;
  }
  .modal-dialog{
    padding-top:100px;
  }
  .hover_effect:hover:after,
  .hover_effect:focus:after {
    width: 60%;
  }
}